@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(5, 5, 0);
}

.header__container {
  background-color: rgb(165, 155, 126);
  height: 3em;
}

.boton-personalizado {
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: rgb(5, 5, 0);
  --bs-btn-active-border-color: transparent;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-color: transparent;
}
.boton-personalizado i {
  color: hsl(60, 100%, 1%);
  font-size: 1.5em;
  font-weight: bold;
}
.boton-personalizado i:active {
  color: rgb(165, 155, 126);
}

.offcanvas-header {
  background-color: rgba(5, 5, 0, 0.9);
  border-bottom: 2px solid rgba(165, 155, 126, 0.4);
}
.offcanvas-header h5 {
  color: rgb(165, 155, 126);
}

.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-opacity: 1;
  --bs-btn-close-hover-opacity: 1;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem transparent;
  background: rgba(165, 155, 126, 0.4) var(--bs-btn-close-bg) center/1em auto no-repeat;
}

.offcanvas-body {
  padding: 0;
  margin: 0;
  background-color: rgb(5, 5, 0);
}

.lista__canvas ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link-canvas {
  display: flex;
  width: 17em;
  text-decoration: none;
  color: rgb(165, 155, 126);
  margin: 1em;
  font-size: 1.1em;
}
.link-canvas:active {
  background-color: rgba(165, 155, 126, 0.02);
  font-size: 0.97em;
  border-color: transparent;
}

/*HEADER-MARCA/SEARCH/SHOP*/
.header__marca a {
  font-family: "Play", sans-serif;
  font-size: 1.2em;
  color: rgb(5, 5, 0);
  font-weight: bold;
  font-style: italic;
}

.header__search a {
  font-size: 1.2em;
  color: rgb(5, 5, 0);
}

.header__shop a {
  font-size: 1.2em;
  color: rgb(5, 5, 0);
}

footer {
  font-family: "Jost", sans-serif !important;
  font-weight: 500;
  font-size: 1.2em;
}

.linea-divisora {
  border-top: 1px solid white;
}

.lista__footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 8.31em;
}

.footer__marca {
  color: white;
  font-size: 1.3em;
  height: 1.5em;
  font-style: italic;
  width: 8.31em;
  font-family: "Play", sans-serif;
}

.footer__ttl {
  color: rgb(165, 155, 126);
  margin: 0;
  font-size: 1em;
  margin-bottom: 0.7em;
  font-weight: 700;
}

.link__p {
  color: rgb(255, 255, 255);
  font-size: 0.7em;
}

.footer_cuadricula {
  height: 7em;
  padding: 0.2em;
}

.main__container {
  position: relative;
}

.main__title {
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.main__title h1 {
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.row__form-txt {
  height: 3em;
}
.row__form-txt div {
  font-size: 2em;
  color: rgb(165, 155, 126);
}

.row__formulario {
  height: 25em;
}

.boton__formulario {
  --bs-btn-color: rgb(5, 5, 0);
  --bs-btn-bg: rgb(165, 155, 126);
  --bs-btn-border-color: rgb(165, 155, 126);
  --bs-btn-hover-color: rgb(165, 155, 126);
  --bs-btn-hover-bg: rgba(165, 155, 126, 0.2);
  --bs-btn-hover-border-color: rgb(165, 155, 126);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: rgb(165, 155, 126);
  --bs-btn-active-bg: rgb(5, 5, 0);
  --bs-btn-active-border-color: rgb(165, 155, 126);
}

/* TITULO-ETIQUETA */
.titulo__etiqueta {
  color: rgb(165, 155, 126);
}

/* CHECKBOX */
.formulario__checkbox {
  background-color: white;
  border: 2px solid rgb(63, 63, 63);
}
.formulario__checkbox:checked {
  background-color: rgb(165, 155, 126);
  border-color: rgb(165, 155, 126);
}

/* FILA FILTRO */
.fila__filtro {
  color: white;
}

/* BOTON FILTRO */
.filter__cont__button {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.1rem;
  --bs-btn-font-size: 0.8rem;
  --bs-btn-color: rgb(5, 5, 0);
  --bs-btn-bg: rgb(165, 155, 126);
  --bs-btn-border-color: rgb(5, 5, 0);
  --bs-btn-hover-color: rgb(165, 155, 126);
  --bs-btn-hover-bg: rgb(5, 5, 0);
  --bs-btn-hover-border-color: rgb(165, 155, 126);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: rgb(165, 155, 126);
  --bs-btn-active-bg: rgb(5, 5, 0);
  --bs-btn-active-border-color: rgb(165, 155, 126);
}

/* DROPDOWN FILTRO____________________________ */
.filter__cont__dropdown {
  background-color: rgb(5, 5, 0);
  padding: 0.5em;
  color: rgb(165, 155, 126);
}

.filter__cont__input:checked {
  background-color: rgb(165, 155, 126);
  border-color: rgb(5, 5, 0);
}

/* CONTENEDOR CARD PADRE___________________________ */
.card__cont {
  height: 350p;
  width: 190p;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #0a0a0a;
}

/* CONTENEDOR IMAGEN */
.card__cont__img {
  border-radius: 25px;
  border: 1px solid rgb(165, 155, 126);
}
.card__cont__img img {
  border-radius: 25px;
}

/* DESCRIPCION */
.card__cont__txt p {
  margin: 0;
  color: rgb(165, 155, 126);
}

/* BUTTON */
.card__cont__button a button {
  --bs-btn-color: rgb(165, 155, 126);
  --bs-btn-bg: rgb(5, 5, 0);
  --bs-btn-border-color: rgb(165, 155, 126);
  --bs-btn-hover-color: rgb(165, 155, 126);
  --bs-btn-hover-bg: rgb(5, 5, 0);
  --bs-btn-hover-border-color: rgb(5, 5, 0);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: rgb(5, 5, 0);
  --bs-btn-active-bg: rgb(165, 155, 126);
  --bs-btn-active-border-color: rgb(5, 5, 0);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(5, 5, 0);
  --bs-btn-disabled-border-color: rgb(5, 5, 0);
  display: flex;
  align-items: center;
}
.card__cont__button a button i {
  font-size: 1em;
  margin-right: 0.2em;
}
.card__cont__button a button p {
  font-size: 1em;
  margin: 0;
}

.card__cuerpo {
  background-color: rgb(255, 254, 240);
}

.card__imagen {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.card__texto {
  font-family: "Jost", sans-serif;
}
.card__texto h5 {
  color: rgb(165, 155, 126);
  margin-right: 0.5em;
  font-size: 1.5em;
}
.card__texto p {
  color: white;
  font-size: 1em;
}

.card__boton {
  background-color: rgb(5, 5, 0);
  border: none;
}
.card__boton i {
  color: rgb(165, 155, 126);
}
.card__boton span {
  color: rgb(165, 155, 126);
  margin-right: 0.5em;
  font-size: 1.1em;
}
.card__boton:hover {
  background-color: black;
}
.card__boton:active {
  background-color: rgb(12, 12, 5) !important;
}

/* POR DEBAJO DE 768px: subtitulo de carousel h5 mide 1.2em el p del carousel mide 1 em, 
los indicadores de posicion no se muestran y los caption en general se posicionan mas abajo */
@media screen and (max-width: 767px) {
  .carousel-caption {
    bottom: -1.7rem;
  }
  .carousel-caption h5 {
    font-size: 1.2em;
  }
  .carousel-caption P {
    font-size: 1em;
  }
  .carousel-indicators {
    display: none;
  }
}
/* POR ENCIMA DE 767px (EN VISTA TABLET) EL FOOTER CAMBIA EL 
DISEÑO PARA ESTAR TODO SOBRE UNA SOLA LINEA  */
@media screen and (min-width: 767px) {
  .linea-divisora {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 10em;
  }
  .footer_cuadricula ul {
    margin: 1em;
    width: 7em;
  }
  .contenedor__marca, .footer__marca {
    display: flex;
    justify-content: center;
  }
  /* ::::::::::::PRODUCTO.HTML:::::::::::: */
  .main__card {
    display: flex;
  }
  .card-img__ancho,
  .card-txt__ancho {
    width: 100%;
  }
  .card__cuerpo {
    width: 90%;
  }
  .card__texto {
    width: 90%;
  }
  .card__texto h5 {
    font-size: 1.6em;
  }
  .card__texto p {
    font-size: 1.4em;
  }
}
/* A PARTIR DE 890px SE RE-DIMENSIONA EL FOOTER PARA QUE NO SE SEPAREN LAS ROWS */
@media screen and (min-width: 890px) {
  .footer_cuadricula {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 10em;
  }
  .ancho__marca, .ancho__filauno, .ancho__filados {
    width: 100%;
    height: 12em;
  }
}
/*HASTA QUE LA PANTALLA NO MIDA 1200PX NO SE MUESTRA LA GALERIA DE POSTERS RECTANGULARES 
  NI LA BARRA NAVEGADORA NI LA FILA DE INFO ADICIONAL NI MENU DESPLEGABLE ni el filtro izquierdo 
  y la fila adicional en peliculas.html */
@media screen and (max-width: 1199px) {
  .main__galeria {
    display: none;
  }
  .barra-navegadora {
    display: none;
  }
  .informacion__adicional {
    display: none;
  }
  .seccion__filtro {
    display: none !important;
  }
  .tarjeta__adicional {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .main__container {
    display: flex;
    justify-content: center;
  }
  .main__img {
    height: 600px;
    width: 1200px;
    position: relative;
  }
  .main__img::before {
    position: absolute;
    content: "";
    height: 600px;
    width: 1200px;
    background-image: linear-gradient(to right, rgb(5, 5, 0), rgba(5, 5, 0, 0.4), rgba(5, 5, 0, 0.3), rgba(5, 5, 0, 0.2), rgba(5, 5, 0, 0)), linear-gradient(to left, rgb(5, 5, 0), rgba(5, 5, 0, 0.4), rgba(5, 5, 0, 0.3), rgba(5, 5, 0, 0.2), rgba(5, 5, 0, 0)), linear-gradient(to top, rgb(5, 5, 0), rgba(5, 5, 0, 0.4), rgba(5, 5, 0, 0.3), rgba(5, 5, 0, 0.2), rgba(5, 5, 0, 0));
  }
  .imagen__principal {
    height: 600px;
    width: 1200px;
  }
  .main__title {
    z-index: 1;
    background-image: none;
    width: 25%;
    position: absolute;
    left: 25%;
  }
  .main__title h1 {
    font-size: 3em;
    width: 50%;
  }
  /*HEADER + REDIMENSION FOOTER// A PARTIR DE WIDTH=1200px 
  SE MUESTRA GALERIA DE POSTERS RECTANGULAR Y DESAPARECE EL CAROUSEL*/
  /* ::::::HEADER:::::: */
  .boton-personalizado {
    display: none;
  }
  .header__container {
    height: 4em;
  }
  .header__marca a {
    font-size: 1.8em;
  }
  .header__marca .btn i {
    font-size: 1.8em;
  }
  .header__row {
    display: flex;
    align-items: center;
  }
  .header__desktop {
    justify-content: flex-end !important;
    width: 53%;
  }
  .header__desktop-b {
    width: 47%;
  }
  /* ::::::NAV-BAR:::::: */
  .barra-navegadora {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    background-image: linear-gradient(to bottom, rgba(165, 155, 126, 0.2), rgba(165, 155, 126, 0));
  }
  .nav__row {
    width: 70%;
  }
  .nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__item a h3 {
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    color: rgb(165, 155, 126);
  }
  /* ::::::MAIN:::::: */
  /* ENTRA GALERIA, SALE CAROUSEL */
  .seccion__carousel {
    display: none;
  }
  /* CONTENEDOR DE IMAGENES */
  .galeria__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 250px;
    margin: 2em;
    padding: 1em;
  }
  .galeria__img {
    border-radius: 15px;
    border: 0.123em solid rgb(165, 155, 126);
  }
  /* ::::::::::::INFORMACION ADICIONAL:::::::::::: */
  .informacion__adicional {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .info__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(165, 155, 126);
    background-color: rgba(165, 155, 126, 0.1);
    height: 7em;
  }
  .info__item h3 {
    font-size: 1.08em;
    margin-left: 1em;
    margin-bottom: 0;
  }
  .info__item i {
    font-size: 1.9em;
  }
  /* ::::::FOOTER:::::: */
  footer {
    font-size: 1.2em;
  }
  .linea-divisora {
    background-color: rgba(165, 155, 126, 0.1);
  }
  .contenedor__marca {
    display: flex;
    justify-content: flex-end;
  }
  .ancho__marca {
    width: 30%;
    height: 9em;
  }
  .ancho__filauno, .ancho__filados {
    width: 35%;
    height: 9em;
  }
  .ajuste_1 {
    justify-content: flex-end !important;
  }
  .ajuste_2 {
    justify-content: center;
  }
  .ajuste_3, .ajuste_4 {
    justify-content: flex-start !important;
  }
  /* ::::::::::::PRODUCTO.HTML:::::::::::: */
  .card__imagen {
    height: 500px;
    width: 100%;
  }
  .card__cuerpo {
    width: 50%;
  }
  .card-img__ancho {
    width: 40%;
  }
  .card-txt__ancho {
    width: 60%;
    justify-content: flex-start !important;
  }
  .card__texto {
    width: 30%;
  }
  /* ::::::::::::CONTACTO.HTML:::::::::::: */
  .row__form-txt {
    align-items: flex-end;
    height: 10em;
  }
  .row__formulario {
    height: 30em;
    display: flex;
    align-items: flex-start;
  }
  /*_________________________PELICULAS.HTML_________________________________  */
  /* ::::::::::::DISPLAY:::::::::::: */
  .filter__cont__button {
    display: none;
  }
  .fila__1y2, .fila__3y4, .fila__5y6 {
    display: flex;
    justify-content: center;
  }
  .contenedor__flexible__padre {
    display: flex;
  }
  .contenedor__flexible__check {
    margin-top: 1.5em;
    width: 20%;
  }
  .contenedor__flexible__cards {
    margin-top: 1.5em;
    width: 60%;
  }
  /* ::::::::::::SECCION CHECKBOX:::::::::::: */
  #section__peliculas__filtro {
    height: 85%;
  }
  .peliculas__check__cont-1,
  .peliculas__check__cont-2,
  .peliculas__check__cont-3,
  .peliculas__check__cont-4 {
    margin-left: 2em;
    padding-bottom: 1.6em;
    border-bottom: 1px solid rgb(165, 155, 126);
  }
  .peliculas__check__cont h3 {
    font-family: "Jost", sans-serif !important;
    color: rgb(165, 155, 126);
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.3em;
    margin-top: 1.6em;
    margin-bottom: 1.3em;
    border-radius: 10px;
    /* border: 1px solid rgb(165, 155, 126); */
    background-color: rgba(165, 155, 126, 0.1);
    display: flex;
    justify-content: center;
  }
  .filter__check {
    font-family: "Jost", sans-serif !important;
    color: rgb(165, 155, 126);
    font-size: 1.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  /* ::::::::::::BOTONERA FILTRO DESKTOP:::::::::::: */
  .filter__check input:checked {
    background-color: rgb(165, 155, 126);
    border-color: rgb(165, 155, 126);
  }
}

/*# sourceMappingURL=main.css.map */
