/* ::::::CSS RESSET:::::: */

* {
  margin: 0;
  padding: 0;
}
/* _______________________________________________ */

/* ::::::::::::::::::::::::INDEX.HTML:::::::::::::::::::::::: */

/* ::::::BODY:::::: */

body {
  background-color: rgb(5, 5, 0);
}
a {
  text-decoration: none;
}
/* _______________________________________________ */

/* ::::::HEADER:::::: */

.header__container {
  background-color: rgb(165, 155, 126);
  height: 3em;
}
/* ______________________________ */

/* OFF-CANVAS */

/* BUTTON */

.boton-personalizado {
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: hsl(60, 100%, 1%);
  --bs-btn-active-border-color: transparent;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-color: transparent;
}

.btn > i {
  color: hsl(60, 100%, 1%);
  font-size: 1.5em;
  font-weight: bold;
}

.boton-personalizado:active > i {
  color: rgb(165, 155, 126);
}

/* OFF-CANVAS-BODY */

.offcanvas-header {
  background-color: rgba(5, 5, 0, 0.9);
  border-bottom: 2px solid rgba(165, 155, 126, 0.4);
}
.offcanvas-header > h5 {
  color: rgb(165, 155, 126);
}

.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-opacity: 1;
  --bs-btn-close-hover-opacity: 1;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem transparent;
  background: rgba(165, 155, 126, 0.4) var(--bs-btn-close-bg) center/1em auto
    no-repeat;
}

.offcanvas-body {
  padding: 0;
  margin: 0;
  background-color: rgb(5, 5, 0);
}

.link-canvas {
  display: flex;
  width: 11em;
  text-decoration: none;
  color: rgb(165, 155, 126);
  margin: 1em;
  font-size: 1.1em;
}

.link-canvas:active {
  background-color: rgba(165, 155, 126, 0.02);
  font-size: 0.97em;
  border-color: transparent;
}
/* _____________________________________________________ */

/*HEADER-MARCA/SEARCH/SHOP*/

.header__marca > a {
  font-family: "Play", sans-serif;
  font-size: 1.2em;
  color: rgb(5, 5, 0);
  font-weight: bold;
  font-style: italic;
}

.header__search > a {
  font-size: 1.2em;
  color: hsl(60, 100%, 1%);
}

.header__shop > a {
  font-size: 1.2em;
  color: #050500;
}
/* _________________________________________________________ */

/* ::::::MAIN:::::: */

.main__container {
  position: relative;
}

.main__title {
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
}

.main__title > h1 {
  color: white;
  font-weight: bold;
  font-size: 2em;
}

/* ::::::FOOTER:::::: */

.linea-divisora {
  border-top: 1px solid white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 8.31em;
}

.footer__marca {
  color: white;
  font-size: 1.3em;
  height: 1.5em;
  font-style: italic;
  width: 8.31em;
  font-family: "Play", sans-serif;
}

li > p {
  color: rgb(255, 255, 255);
  font-size: 0.7em;
  margin: 0.2em;
}
li > h2 {
  color: rgb(165, 155, 126);
  margin: 0;
  font-size: 1em;
  margin-bottom: 0.7em;
}
.link__p > p {
  color: rgb(255, 255, 255);
  font-size: 0.7em;
  margin: 0.2em;
}

.footer_cuadricula {
  height: 7em;
  padding: 0.2em;
}

/* ::::::::::::::::::::::::PRODUCTO.HTML:::::::::::::::::::::::: */

/* ::::::::::::MAIN:::::::::::: */

.card__cuerpo {
  background-color: rgb(255, 254, 240);
}

.card__imagen {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.card__texto > h5 {
  color: white;
  margin-right: 0.5em;
  text-decoration: underline 1px solid white;
}

.card__texto > p {
  color: white;
  font-size: 0.8em;
}

.card__boton {
  background-color: #000;
  border: none;
}
.card__boton > i {
  color: white;
}
.card__boton > span {
  margin-right: 0.5em;
  font-size: 1.1em;
}
.card__boton:hover {
  background-color: black;
}

.card__boton:active {
  background-color: black !important;
}
/* ::::::::::::::::::::::::CONTACTO.HTML:::::::::::::::::::::::: */
.row__form-txt {
  height: 3em;
}
.row__form-txt > div {
  font-size: 2em;
  color: rgb(165, 155, 126);
}

.row__formulario {
  height: 25em;
}

/* BOTON  */

.boton__formulario {
  --bs-btn-color: rgb(5, 5, 0);
  --bs-btn-bg: rgb(165, 155, 126);
  --bs-btn-border-color: rgb(165, 155, 126);
  --bs-btn-hover-color: rgb(165, 155, 126);
  --bs-btn-hover-bg: rgba(165, 155, 126, 0.2);
  --bs-btn-hover-border-color: rgb(165, 155, 126);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: rgb(165, 155, 126);
  --bs-btn-active-bg: rgb(5, 5, 0);
  --bs-btn-active-border-color: rgb(165, 155, 126);
}

/* TITULO-ETIQUETA */
.titulo__etiqueta {
  color: rgb(165, 155, 126);
}

/* CHECKBOX */
.formulario__checkbox:checked {
  background-color: rgb(165, 155, 126);
  border-color: rgb(165, 155, 126);
}

.formulario__checkbox {
  background-color: white;
  border: 2px solid rgb(63, 63, 63);
}
