/* ::::::CSS RESSET:::::: */

* {
  margin: 0;
  padding: 0;
}
/* _______________________________________________ */

/* ::::::::::::::::::::::::INDEX.HTML:::::::::::::::::::::::: */

/* ::::::BODY:::::: */

body {
  background-color: rgb(5, 5, 0);
}
a {
  text-decoration: none;
}
/* _______________________________________________ */

/* ::::::HEADER:::::: */

.header__container {
  background-color: rgb(165, 155, 126);
  height: 3em;
}
/* ______________________________ */

/* OFF-CANVAS */

/* BUTTON */

.boton-personalizado {
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: hsl(60, 100%, 1%);
  --bs-btn-active-border-color: transparent;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-color: transparent;
}

.btn > i {
  color: hsl(60, 100%, 1%);
  font-size: 1.5em;
  font-weight: bold;
}

.boton-personalizado:active > i {
  color: rgb(165, 155, 126);
}

/* OFF-CANVAS-BODY */

.offcanvas-header {
  background-color: rgba(5, 5, 0, 0.9);
  border-bottom: 2px solid rgba(165, 155, 126, 0.4);
}
.offcanvas-header > h5 {
  color: rgb(165, 155, 126);
}

.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-opacity: 1;
  --bs-btn-close-hover-opacity: 1;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem transparent;
  background: rgba(165, 155, 126, 0.4) var(--bs-btn-close-bg) center/1em auto
    no-repeat;
}

.offcanvas-body {
  padding: 0;
  margin: 0;
  background-color: rgb(5, 5, 0);
}

.link-canvas {
  display: flex;
  width: 11em;
  text-decoration: none;
  color: rgb(165, 155, 126);
  margin: 1em;
  font-size: 1.1em;
}

.link-canvas:active {
  background-color: rgba(165, 155, 126, 0.02);
  font-size: 0.97em;
  border-color: transparent;
}
/* _____________________________________________________ */

/*HEADER-MARCA/SEARCH/SHOP*/

.header__marca > a {
  font-family: "Play", sans-serif;
  font-size: 1.2em;
  color: rgb(5, 5, 0);
  font-weight: bold;
  font-style: italic;
}

.header__search > a {
  font-size: 1.2em;
  color: hsl(60, 100%, 1%);
}

.header__shop > a {
  font-size: 1.2em;
  color: #050500;
}
/* _________________________________________________________ */

/* ::::::MAIN:::::: */

.main__container {
  position: relative;
}

.main__title {
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
}

.main__title > h1 {
  color: white;
  font-weight: bold;
  font-size: 2em;
}

/* ::::::FOOTER:::::: */

.linea-divisora {
  border-top: 1px solid white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 8.31em;
}

.footer__marca {
  color: white;
  font-size: 1.3em;
  height: 1.5em;
  font-style: italic;
  width: 8.31em;
  font-family: "Play", sans-serif;
}

li > p {
  color: rgb(255, 255, 255);
  font-size: 0.7em;
  margin: 0.2em;
}
li > h2 {
  color: rgb(165, 155, 126);
  margin: 0;
  font-size: 1em;
  margin-bottom: 0.7em;
}
.link__p > p {
  color: rgb(255, 255, 255);
  font-size: 0.7em;
  margin: 0.2em;
}

.footer_cuadricula {
  height: 7em;
  padding: 0.2em;
}

/* ::::::::::::::::::::::::PRODUCTO.HTML:::::::::::::::::::::::: */

/* ::::::::::::MAIN:::::::::::: */

.card__cuerpo {
  background-color: rgb(255, 254, 240);
}

.card__imagen {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.card__texto > h5 {
  color: white;
  margin-right: 0.5em;
  text-decoration: underline 1px solid white;
}

.card__texto > p {
  color: white;
  font-size: 0.8em;
}

.card__boton {
  background-color: #000;
  border: none;
}
.card__boton > i {
  color: white;
}
.card__boton > span {
  margin-right: 0.5em;
  font-size: 1.1em;
}
.card__boton:hover {
  background-color: black;
}

.card__boton:active {
  background-color: black !important;
}
/* ::::::::::::::::::::::::CONTACTO.HTML:::::::::::::::::::::::: */
.row__form-txt {
  height: 3em;
}
.row__form-txt > div {
  font-size: 2em;
  color: rgb(165, 155, 126);
}

.row__formulario {
  height: 25em;
}

/* BOTON  */

.boton__formulario {
  --bs-btn-color: rgb(5, 5, 0);
  --bs-btn-bg: rgb(165, 155, 126);
  --bs-btn-border-color: rgb(165, 155, 126);
  --bs-btn-hover-color: rgb(165, 155, 126);
  --bs-btn-hover-bg: rgba(165, 155, 126, 0.2);
  --bs-btn-hover-border-color: rgb(165, 155, 126);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: rgb(165, 155, 126);
  --bs-btn-active-bg: rgb(5, 5, 0);
  --bs-btn-active-border-color: rgb(165, 155, 126);
}

/* TITULO-ETIQUETA */
.titulo__etiqueta {
  color: rgb(165, 155, 126);
}

/* CHECKBOX */
.formulario__checkbox:checked {
  background-color: rgb(165, 155, 126);
  border-color: rgb(165, 155, 126);
}

.formulario__checkbox {
  background-color: white;
  border: 2px solid rgb(63, 63, 63);
}

/* _____________________________________________________ */
/* ------------------MEDIA-QUERIES------------------ */

/* ::::::TABLETS ::::::*/

/* POR DEBAJO DE 768px: subtitulo de carousel h5 mide 1.2em el p del carousel mide 1 em, los indicadores de posicion no se muestran y los caption en general se posicionan mas abajo */

@media screen and (max-width: 767px) {
  .carousel-caption > h5 {
    font-size: 1.2em;
  }
  .carousel-caption > p {
    font-size: 1em;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-caption {
    bottom: -1.7rem;
  }
}

/* POR ENCIMA DE 767px (EN VISTA TABLET) EL FOOTER CAMBIA EL DISEÑO PARA ESTAR TODO SOBRE UNA SOLA LINEA  */

@media screen and (min-width: 767px) {
  .linea-divisora {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 10em;
  }
  .footer_cuadricula > ul {
    margin: 1em;
    width: 7em;
  }

  .contenedor__marca {
    display: flex;
    justify-content: center;
  }
  .footer__marca {
    display: flex;
    justify-content: center;
  }
  /* ::::::::::::PRODUCTO.HTML:::::::::::: */
  .main__card {
    display: flex;
  }
  .card-img__ancho,
  .card-txt__ancho {
    width: 100%;
  }
  .card__cuerpo {
    width: 90%;
  }

  .card__texto {
    width: 90%;
  }

  .card__texto > h5 {
    font-size: 1.6em;
  }

  .card__texto > p {
    font-size: 1.4em;
  }
}

/* A PARTIR DE 890px SE RE-DIMENSIONA EL FOOTER PARA QUE NO SE SEPAREN LAS ROWS */

@media screen and (min-width: 890px) {
  .footer_cuadricula {
    width: 50%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    height: 10em;
  }
  .ancho__marca {
    width: 100%;
    /* border: 1px SOLID WHITE; */
    height: 12em;
  }

  .ancho__filauno {
    width: 100%;
    /* border: 1px SOLID WHITE; */
    height: 12em;
  }

  .ancho__filados {
    width: 100%;
    /* border: 1px SOLID WHITE; */
    height: 12em;
  }
}

/* ___________________________________________________________ */

/* ::::::dESKTOP:::::: */

@media screen and (min-width: 1200px) {
  /*______MAIN IMAGE EFECTO GRADIENTE______*/

  .main__container {
    display: flex;
    justify-content: center;
  }
  /* LA DIMENSION ORIGINAL DE LOS 3 ITEMS DE ABAJO ES:675 X 1200 */
  .main__img {
    height: 600px;
    width: 1200px;
    position: relative;
  }

  .imagen__principal {
    height: 600px;
    width: 1200px;
  }

  .main__img::before {
    position: absolute;
    content: "";
    height: 600px;
    width: 1200px;
    /* background-image: linear-gradient(
          90deg,
          #050500 0,
          rgba(5, 5, 0, 0.986) 0.97%,
          rgba(5, 5, 0, 0.945) 2.07833333%,
          rgba(5, 5, 0, 0.883) 3.29666667%,
          rgba(5, 5, 0, 0.803) 4.60166667%,
          rgba(5, 5, 0, 0.711) 5.96666667%,
          rgba(5, 5, 0, 0.61) 7.365%,
          rgba(5, 5, 0, 0.504) 8.77166667%,
          rgba(5, 5, 0, 0.398) 10.16%,
          rgba(5, 5, 0, 0.296) 11.505%,
          rgba(5, 5, 0, 0.203) 12.78%,
          rgba(5, 5, 0, 0.122) 13.95833333%,
          rgba(5, 5, 0, 0.059) 15.01666667%,
          rgba(5, 5, 0, 0.016) 15.92833333%,
          rgba(5, 5, 0, 0) 16.66666667%,
          rgba(5, 5, 0, 0) 83.33333333%,
          rgba(5, 5, 0, 0.016) 84.07166667%,
          rgba(5, 5, 0, 0.059) 84.98333333%,
          rgba(5, 5, 0, 0.122) 86.04166667%,
          rgba(5, 5, 0, 0.203) 87.22%,
          rgba(5, 5, 0, 0.296) 88.495%,
          rgba(5, 5, 0, 0.398) 89.84%,
          rgba(5, 5, 0, 0.504) 91.22833333%,
          rgba(5, 5, 0, 0.61) 92.635%,
          rgba(5, 5, 0, 0.711) 94.03333333%,
          rgba(5, 5, 0, 0.803) 95.39833333%,
          rgba(5, 5, 0, 0.883) 96.70333333%,
          rgba(5, 5, 0, 0.945) 97.92166667%,
          rgba(5, 5, 0, 0.986) 99.03%,
          #050500
        ),
        linear-gradient(
          0deg,
          #050500 0,
          #050500 21.48148148%,
          rgba(5, 5, 0, 0.986) 23.63703704%,
          rgba(5, 5, 0, 0.945) 26.1%,
          rgba(5, 5, 0, 0.883) 28.80740741%,
          rgba(5, 5, 0, 0.803) 31.70740741%,
          rgba(5, 5, 0, 0.711) 34.74074074%,
          rgba(5, 5, 0, 0.61) 37.84814815%,
          rgba(5, 5, 0, 0.504) 40.97407407%,
          rgba(5, 5, 0, 0.398) 44.05925926%,
          rgba(5, 5, 0, 0.296) 47.04814815%,
          rgba(5, 5, 0, 0.203) 49.88148148%,
          rgba(5, 5, 0, 0.122) 52.5%,
          rgba(5, 5, 0, 0.059) 54.85185185%,
          rgba(5, 5, 0, 0.016) 56.87777778%,
          rgba(5, 5, 0, 0) 58.51851852%
        ); */

    background-image: linear-gradient(
        to right,
        rgba(5, 5, 0, 1),
        rgba(5, 5, 0, 0.4),
        rgba(5, 5, 0, 0.3),
        rgba(5, 5, 0, 0.2),
        rgba(5, 5, 0, 0)
      ),
      linear-gradient(
        to left,
        rgba(5, 5, 0, 1),
        rgba(5, 5, 0, 0.4),
        rgba(5, 5, 0, 0.3),
        rgba(5, 5, 0, 0.2),
        rgba(5, 5, 0, 0)
      ),
      linear-gradient(
        to top,
        rgba(5, 5, 0, 1),
        rgba(5, 5, 0, 0.4),
        rgba(5, 5, 0, 0.3),
        rgba(5, 5, 0, 0.2),
        rgba(5, 5, 0, 0)
      );
  }

  .main__title {
    z-index: 1;
    background-image: none;
    width: 25%;
    position: absolute;
    left: 25%;
  }
  .main__title > h1 {
    font-size: 3em;
    width: 50%;
  }
}

/*HASTA QUE LA PANTALLA NO MIDA 1200PX NO SE MUESTRA LA GALERIA DE POSTERS RECTANGULARES 
  NI LA BARRA NAVEGADORA NI LA FILA DE INFO ADICIONAL NI MENU DESPLEGABLE*/

@media screen and (max-width: 1199px) {
  .main__galeria {
    display: none;
  }
  .barra-navegadora {
    display: none;
  }

  .informacion__adicional {
    display: none;
  }
}

/*HEADER + REDIMENSION FOOTER// A PARTIR DE WIDTH=1200px SE MUESTRA GALERIA DE POSTERS RECTANGULAR Y DESAPARECE EL CAROUSEL DE BOOTSTRAP   */

@media screen and (min-width: 1200px) {
  /* ::::::HEADER:::::: */

  .boton-personalizado {
    display: none;
  }
  .header__container {
    height: 4em;
  }

  .header__marca > a,
  .btn > i {
    font-size: 1.8em;
  }
  .header__row {
    display: flex;
    align-items: center;
  }

  .header__desktop {
    justify-content: flex-end !important;
    width: 53%;
  }
  .header__desktop-b {
    width: 47%;
  }

  /* ::::::NAV-BAR:::::: */
  .barra-navegadora {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    background-image: linear-gradient(
      to bottom,
      rgba(165, 155, 126, 0.2),
      rgba(165, 155, 126, 0)
    );
  }

  .nav__row {
    width: 70%;
  }
  .nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(165, 155, 126);
  }
  .nav__item > h3 {
    font-size: 1.4em;
  }

  /* ::::::MAIN:::::: */

  /* ENTRA GALERIA, SALE CAROUSEL */

  .seccion__carousel {
    display: none;
  }

  /* CONTENEDOR DE IMAGENES */

  .galeria__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 250px;
    /* border: 1px solid rgb(165, 155, 126); */
    /* border-radius: 15px; */
    margin: 2em;
    padding: 1;
  }
  .galeria__img {
    border-radius: 15px;
    border: 0.123em solid rgb(165, 155, 126);
  }
  /* ::::::::::::INFORMACION ADICIONAL:::::::::::: */

  .informacion__adicional {
    height: 4em;
  }

  .info__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(165, 155, 126);
  }

  .info__item > h3 {
    font-size: 1.08em;
    margin-left: 1em;
    margin-bottom: 0;
  }

  .info__item > i {
    font-size: 1.9em;
  }

  /* ::::::FOOTER:::::: */

  .linea-divisora {
    background-color: rgba(165, 155, 126, 0.1);
  }

  footer {
    font-size: 1.2em;
  }

  .contenedor__marca {
    display: flex;
    justify-content: flex-end;
  }
  .ancho__marca {
    width: 30%;
    height: 9em;
  }
  .ancho__filauno {
    width: 35%;
    height: 9em;
  }
  .ancho__filados {
    width: 35%;
    height: 9em;
  }

  .ajuste_1 {
    justify-content: flex-end !important;
  }

  .ajuste_2 {
    justify-content: center;
  }

  .ajuste_3 {
    justify-content: flex-start !important;
  }

  .ajuste_4 {
    justify-content: flex-start;
  }
  /* ::::::::::::PRODUCTO.HTML:::::::::::: */

  .card__imagen {
    height: 500px;
    width: 100%;
  }

  .card__cuerpo {
    width: 50%;
  }

  .card-img__ancho {
    width: 40%;
  }
  .card-txt__ancho {
    width: 60%;
    justify-content: flex-start !important;
  }
  .card__texto {
    width: 30%;
  }
  /* ::::::::::::CONTACTO.HTML:::::::::::: */

  .row__form-txt {
    align-items: flex-end;
    height: 10em;
  }

  .row__formulario {
    height: 30em;
    display: flex;
    align-items: flex-start;
  }
}
